{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}

	<tbody>
		<div class="row mx-auto d-block">
			<h1 class="text-center">
				{{ article.title }}
				(ID:
				{{ article.id}})</h1>
		</div>
		<div class="row mx-auto d-block">

			<h4 class="text-center">
				{{ article.category }}</h1>
		</div>
		<div class="row mx-auto d-block">

			<p class="text-center">
				{{ article.content }}</p>
		</div>
		<div class="row mx-auto d-block">

			<h4>
				{{ article.author }}</h4>
		</div>
	</tbody>
</tbody>

{# {{ include('./comments/_form.html.twig') }} #}

<a href="{{ path('comments_new')}}">Commenter</a><br>
<a href="{{ path('articles_index') }}">Retour à la liste</a>
{% if app.user and is_granted('ROLE_ADMIN') %}
	<a href="{{ path('articles_edit', {'id': article.id}) }}">Modifier</a>
	{{ include('articles/_delete_form.html.twig') }}
	{%endif%}

{% endblock %}
